<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 spacer"></div>
    <div class="col-md-6">

      <h1>What's going on here?</h1>
      
      <h2>MY STORY</h2>

      <div class="portrait">
        <img src="/assets/headphones-and-scarf-150x150.jpg" alt="headphones-and-scarf-150x150"/>
      </div><!--end portrait-->
      
      <p>Hi, I’m Annie. Welcome.</p>
      
      <p>
      I’ve been doing what I call “holistic design” for about 18 years now. It’s an intersection of branding, graphic and web design, and marketing all tied together with a big bow of creative-thinking, problem-solving, business-strategizing oomph.
      </p>
      
      <p>
      I’ve never really been into “real jobs”. I’m a DIY-er at heart, fiercely independent and, truth be told, fundamentally kind of punk rock. Despite this, at the “pinnacle” of my otherwise mostly freelance career, I found myself working as the creative director at a high-end design and branding agency.
      </p>
      
      <p>
      I learned a ton from the experience, but sometimes, some of the greatest lessons can be gathered by finding out, experientially, what you don’t want to do. I felt like I wasn’t working very often with “my people”. I didn’t like that a lot of the coolest, most progressive, tiny businesses — the kinds I am really into, couldn’t afford to work with me. And that I wasn’t “scaleable” enough to work with tons of startups and micro-businesses that I knew I could help (and who would be fun to collaborate with).
      </p>
      
      <p>
      So I revamped and rebranded. I started operating as a freelancer again, and seeking out clients who were doing things I could really stand behind and get excited about. I work, now, in-depth and one-on-one with larger small businesses of many ilk, non-profits, NGOs — people who are doing things to make the world better, usually in unconventional ways. And I’m much happier.
      </p>
      
      <p>
      But the same issue remained — the really small businesses, micropreneurs, solopreneurs, people just starting up, or people who are out to make sustainable businesses rather than huge profits, still can’t afford to work with me for big engagements where I do all the implementation. And that’s still the world I want to be in.
      </p>
      
      <p>
      Following the kind of advice I give my clients, I decided to think outside the proverbial box and find a way to serve the audience I feel comfortable with in a way that makes sense for both of us. Knowing you guys are smart cookies. I started indieconomy to be able to provide expert help in affordable (and fun) ways. So, I can work with you after all, and you can grab some new skills and keep on DIY-ing!
      </p>
      
      <h2>YOUR STORY</h2>
      
      <p>
      When you’re a small independent business (or a solopreneur, or a microbusiness or some flavor of bootstrapper), you know that DIY is a key tactic for getting things done (and getting them done your way, within your budget). Unfortunately, some of the specialized stuff you need, like branding, design, and marketing can be really hard to do without help — and  that help is really pricey.
      </p>
      
      <p>
      Luckily, you’re really passionate about your business, motivated to make it (more) awesome and both creative and clever. When you get an idea, you jump on the  web and find out what you need to know and go! Just ship it!
      </p>
      
      <h2>WHAT’S THIS SITE ALL ABOUT?</h2>
      
      <p>
      And that’s what this site is for — getting that intel, but at a super high level and with one-on-one help if you want it. The courses, books and other content here are the same material I’ve developed for working with my clients at the boutique branding firm and as a high-end independent consultant. I’m repackaging it to be friendly, fun, and do-able in a DIY way, even if you have no experience with branding, design, or business and marketing strategy.
      </p>
      
      <p>
      Ideally, I’d like this to be a community, too, where we, the DIY small business “indieconomy” people, can help each other, too.
      </p>
      <br>
    </div><!-- end col-md-7 -->

    <div class="col-md-3">
      <div class="sidebar-box">
        <h3 class="sidebar-title">In Short</h3>
        <p class="sidebar-intro">Don't want to read the excessive ramblings to your left there? It does get a bit serious, and you might not be in the mood. Here's the quick version:</p>
        <ul class="sidebar-list">
          <li>I'm Annie. (Hi!)</li>
          <li>I have a ton of experience as a brand expert, designer and strategist. I've been doing this stuff for about 18 years, but I've jumped overboard from the "real job" world.</li>
          <li>I bring how to's on this high-end approach to micro-businesses, startups and entrepreneurs to empower you to do it yourself for waaaaay cheaper than working with an agency.</li>
          <li>If you're running your own business and your aim is something along the lines of "make the world better", rather than, "put meaningless crap into the world", yay! You are the people that inspire me! Me too! Let's work together to make more amazingness!</li>
        </ul>
        
      </div><!-- end sidebar box-->
    </div><!-- end col-md-3 -->
    
    <div class="col-md-1 spacer">

</div><!-- end container-fluid -->