<h1>Contact</h1>
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <div id="slider1"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider2"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider3"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider4"></div>
      <div id="slider-value">value</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div id="slider5"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider6"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider7"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider8"></div>
      <div id="slider-value">value</div>
    </div>
  </div>


</div>
