<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 spacer"></div>
    <div class="col-md-10">
      <h1>Contact</h1>
      <div class="col-md-3 spacer"></div>
      <div class="col-md-6">
      <p>Kindly leave a message.</p>
      <form>
       <div class="form-group">
         <input type="name" class="form-control"  placeholder="your name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control"   placeholder="your email">
        </div>
       <div class="form-group">
        <textarea type="comments" rows="8" class="form-control" placeholder="comments or questions"></textarea> 
        <button type="submit" class="btn btn-default contact-form-button">Submit</button>
</form>
      </div><!-- end col 8-->
      <div class="col-md-3 spacer"></div>



  


        </div><!--col 10-->
      <div class="col-md-1 spacer"></div>
    </div><!--row-->      
</div><!--container-->


<!--
  <div class="row">
    <div class="col-md-3">
      <div id="slider1"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider2"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider3"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider4"></div>
      <div id="slider-value">value</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div id="slider5"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider6"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider7"></div>
      <div id="slider-value">value</div>
    </div>
    <div class="col-md-3">
      <div id="slider8"></div>
      <div id="slider-value">value</div>
    </div>
  </div>
-->



