<%= form_for(:session, url: login_path) do |f| %>
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>

        <div class="modal-body">
            <p>
              <%= f.text_field :username, :placeholder => "your user name", class: 'form-control modal-text-box', id: 'login-username'  %>
            </p>
            <p>
              <%= f.password_field :password, :placeholder => "your password", class: 'form-control modal-text-box', id: 'login-password' %>
            </p>
        </div>

        <div class="modal-footer">
          <p>
            <%= f.submit "Log In", class: "btn btn-default" %>
          </p>
        </div>

      </div>
    </div>
  </div>
<% end %>
