<div class="book-control-buttons">
  <%= link_to "Edit Book", add_content_to_book_path(book_id: book.id), class: "btn btn-default", type: "button" %>
  <%= link_to "Print Template", "#", class: "btn btn-default", type: "button" %>
  <%= link_to "Print Work", "#", class: "btn btn-default", type: "button" %>
</div>


