<div class="book-control-buttons">
  <%= link_to "Work", add_content_to_book_path(book_id: book.id), class: "btn btn-default", type: "button" %>
  <%= link_to "Print your Work", "#", class: "btn btn-default", type: "button" %>
  <%= link_to "Print a Blank Workbook", "#", class: "btn btn-default", type: "button" %>
</div>


