<h1>Workbook Dashboard for user <%= @user.username %></h1>
<p>Books owned</p>
<ul>
<% @user.owned_books.each do |owned_book| %>
  <li><%= owned_book.book.title %></li>
<% end %>
</ul>
<%= link_to "Add a book", store_items_path %>
