<%= form_for([@book, @page, @question, @answer]) do |f| %>
  <div class="modal fade" id="answer-modal" tabindex="-1" role="dialog" aria-labelledby="answer-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="answer-modal-label">Enter Your Answer</h4>
        </div>

        <div class="modal-body">

          <% if (@question.format == 'essay') %>
            <p>
              <%= f.text_area :value, cols: 80, rows: 10 %>
            </p>
          <% else %>
            <p>
              <%= f.text_field :value %>
            </p>
          <% end %>
        </div>
        <div class="modal-footer">
          <p>
            <%= f.submit "Save", class: "btn btn-default" %>
          </p>
        </div>

      </div>
    </div>
  </div>
<% end %>
