<div class="question-action-buttons">
<% if (question.answers.length > 0) %>
  <p><%= question.answers[0].value %></p>
  <%= button_to "edit", edit_book_page_question_answer_path(page_id: page.id, question_id: question.id, id: question.answers[0].id), method: :get %> 
  <%=button_to 'delete', book_page_question_answer_path(page_id: page.id, question_id: question.id, id: question.answers[0].id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
