<ul>
  <% question.answers.each do |answer| %>
    <li><%= answer.value %></li>
    <%= button_to "edit", edit_book_page_question_answer_path(page_id: page.id, question_id: question.id, id: answer.id), remote: true, method: :get %>
    <%=button_to 'delete', book_page_question_answer_path(page_id: page.id, question_id: question.id, id: answer.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>
