<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 spacer"></div>

    <div class="col-md-7">
      <div id="single-page-wrapper">
        <% @page = @page %>
        <%= render partial: 'pages/single', locals: {page: @page} %>
      </div>
    </div>

    <div class="col-md-3">
      <%= render partial: 'pages_sidebar' %>
    </div>

    <div class="col-md-1 spacer">
  </div>
</div>
<div id="answer-modal-wrapper"></div>
