<% if (question.answers.length > 0) %>
  <p><%= link_to question.answers[0].value, edit_book_page_question_answer_path(page_id: page.id, question_id: question.id, answer_id: question.answers[0].id) %></p>
<% end %>
