<ol>
  <% page.questions.each do |question| %>
    <li><%= link_to question.title, new_book_page_question_answer_path(page_id: page.id, question_id: question.id) %></li> 
    <% if (question.format == 'list') %>
      <%= render partial: 'answer_list', locals: {page: page, question: question} %>
    <% else %>
      <%= render partial: 'answer_single', locals: {page: page, question: question} %>
    <% end %>
  <% end %>
</ol>
