<div class="exercise-content">
  <h1 class="exercise-title"> 
    <span class="exercise-number">N <span class="super-script">o</span>
      <%= page.number %> 
      <span class="guillemet">&raquo; </span>
    </span>  
    <%= page.title %>
  </h1>

  <p class="exercise-description"><%= page.description %></p>
  <%= render partial: 'question_list', locals: {page: page} %>
</div><!-- end exercise content-->
