<!-- Working On: <%= @book.title %> -->
<% page = @book.pages[1] %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 spacer"></div>

    <div class="col-md-7">
      <div id="single-page-wrapper"> </div>
    </div>

    <div class="col-md-3">
      <%= render partial: 'pages_sidebar' %>
    </div>

    <div class="col-md-1 spacer">
  </div><!-- end row-->
</div><!-- end container -->
