<!-- Working On: <%= @book.title %> -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 spacer"></div>
    <div class="col-md-7">
      <div class="exercise-content">
        <h1 class="exercise-title"> 
        <span class="exercise-number">N
          <span class="super-script">o</span> 
          1 <span class="guillemet">&raquo; </span>
          </span>  
        The Starting Place
        </h1>          
        <% page = @book.pages[0] %>
        <p class="exercise-description"><%= page.description %></p>
        <%= render partial: 'question_list', locals: {page: page} %>
      </div><!-- end exercise content-->
    </div><!-- end col md 7-->
    <div class="col-md-3">
      <div class="sidebar-box">
        <h3 class="sidebar-title">Pages in this Book</h3>
        <ul class="sidebar-list">
          <li><a href="#">No 1: The Starting Place</a></li>
        </ul>
      </div><!-- end sidebar box-->
    </div><!-- end col md 3-->
    <div class="col-md-1 spacer">
    </div><!-- end row-->
  </div><!-- end container -->

      














<!-- I want to use a modal to bring up the individual edit of a question -->
<!-- This really doesn't do it. It's just code to eventually copy when I get the Answer class working -->
<!-- Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
