<!-- <h2>Editing Book: <%= @book.title %></h2> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 spacer"></div>

    <div class="col-md-7">
      <div id="single-page-wrapper">
        <% @page = @book.pages[0] %>
        <%= render partial: 'pages/single', locals: {page: @book.pages[0]} %>
      </div>
    </div>

    <div class="col-md-3">
      <%= render partial: 'pages_sidebar' %>
    </div>

    <div class="col-md-1 spacer">
  </div>
</div>
<div id="answer-modal-wrapper"></div>
