<h1>All Books</h1>

<div class="container">	
  <% @books.in_groups_of(4) do |row| %>
    <%= render partial: 'single_row', locals: { row: row } %>
  <% end %>
</div>

<p> <%= link_to "Create new book", new_book_path %> </p>




