$greenblue: #52c4ba;
$gold: #F7941D;
$dullpink: #D04D57;
$brightpink: #DF0D79;
$brightblue: #10B3BC;
$grey: #888888;
$orange: #ff8500;




#logo {
	text-align: center;
}

#logo a:hover {
  opacity: .5;
}


////////////////nav/////////////

//whole nav bar
.navbar.navbar-default {
  background: none; 
  border: none;
  box-shadow: none;
  
}



//center part of nav with content
ul.nav.navbar-nav  {
border: 1pt pink solid;
float: none;
  
}

ul.nav.navbar-nav li {

  text-align: center;
}


.navbar-bar .nav {
  float: none;
}


//link text in nv
ul.nav.navbar-nav li a{
  color: $brightblue;
  font-family: Arial "Tienne", Georgia;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}

//active link in nav
ul.nav.navbar-nav li.active a {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: $brightpink;
}

ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li.active a:hover {
  color: $orange;  
  background-image: none;
  background-color: transparent;
  
}


// login area 



.not-logged-in {
  
}




.product-box {
	margin: 20px;
	padding: 5px;
	border: 1pt solid black;
}


.product-image {
  width: 210px;
}

.product-name {
  font-size: 1.143em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #52c4ba;
  font-family: georgia;
}

.product-name a {
  color: white;
  background-color: #52c4ba;
}


footer {
	background-color: grey;
	height: 50px;
}