$greenblue: #52c4ba;
$gold: #F7941D;
$dullpink: #D04D57;
$brightpink: #DF0D79;
$brightblue: #10B3BC;
$grey: #888888;
$orange: #ff8500;


////////////////logo/////////////

#logo {
  margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

#logo a:hover {
  opacity: .75;
}


////////////////nav/////////////

//whole nav bar
.navbar.navbar-default {
  background: none; 
  box-shadow: none; 
  border: none;
}


.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    }


//link text in nav
ul.nav.navbar-nav li a{
  color: $brightblue;
  font-family: Arial "Tienne", Georgia;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;

}

//active link in nav
ul.nav.navbar-nav li.active a {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: $brightpink;
}

//hover for active and non-active links in nav
ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li.active a:hover {
  color: $orange;  
  background-image: none;
  background-color: transparent;
  
}


////////////////log in area/////////////

// pushes it down from top
.login-area-holder {
  padding-top: 5px;
}


//states for inactive buttons in area
.log-in-out-button, .log-in-out-button a, .log-in-out-button a:link {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: 1em;
  color: $brightblue;
}

//hover states
.log-in-out-button a:hover {
  color: $orange;
  text-decoration: none;
 
}

//user name style
.hello-user-name {
  color: $brightpink;
  font-weight: bold;

}




.product-box {
	margin: 20px;
	padding: 5px;
	border: 1pt solid black;
}


.product-image {
  width: 210px;
}

.product-name {
  font-size: 1.143em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #52c4ba;
  font-family: georgia;
}

.product-name a {
  color: white;
  background-color: #52c4ba;
}


footer {
	background-color: grey;
	height: 50px;
}